body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #b0e914, #7e267e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  background: #1e3c72;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #23c976;
}

.type-selector {
  margin-bottom: 15px;
}

.type-selector button {
  background: #ccc;
  color: #b8d12b;
}

.type-selector button.active {
  background: #bb23a2;
  color: white;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result.safe {
  background-color: #d4edda;
  color: #e1ee31;
}

.result.phishing {
  background-color: #f8d7da;
  color: #721c24;
}